<%- include('header') -%>
    <div class="text-center center-div" id="login">
        <div class="container w-25 h-100 border py-10">
            <div class="title pb-5">
               <h1 class="font-weight-bold">
                 How are you today?
               </h1>
                <span class="label">
                Login for the existing user
            </span>
            <% if(locals.logout) {%>
                <div class="alert alert-success text-center">
                    <%= logout%>
                </div>
            <%}%>
            </div>
    
        <form action="/login" method="POST">
            <div class="form-floating mb-3">
                <input type="email" placeholder="email" class="form-control" id="floatingInput" value="panhealthcares@test.com" name="email">
                <label for="floatingInput">Email address</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" placeholder="password" class="form-control" id="floatingPassword" value="12345678" name="password">
                <label for="floatingPassword">Password</label>

                <button type="submit" class="btn btn-success rounded-pill float-md-end">Log In</button>
            </div>

            <div></div>
            <br>
             
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  <em>Keep me logged in.</em>
                </label>
              </div>
        </form>
        <br>
         <% if(locals.errors) {%>
                <div class="alert alert-danger text-center">
                    <%= errors%>
                </div>
            <%}%>
             <% if(locals.isInvalid) {%>
                <div class="alert alert-danger text-center">
                    <%= isInvalid%>
                </div>
            <%}%>
          </div>
          <div class="sign-up">
            <a href=""><h3><em>Sign Up?</em></h3></a>
        </div>
    </div>
    <%- include('footer') -%>